<link id="opinew-font-awesome" href="https://cdn.opinew.com/styles/opw-icons/style.css" rel="stylesheet">
<style id='opinew_product_plugin_css'>{{shop.metafields.opinew['opinew_product_plugin_css']}}</style>
<div id='opinew_config_container' style='display:none;' data-opwconfig='{{shop.metafields.opinew['opinew_config']}}'></div>
<script> var OPW_PUBLIC_KEY = "SD52SOAJ3YS3S72Y5J7O";</script>
<script id="opwchecker" src="https://opinewcdn.s3-eu-west-1.amazonaws.com/js/util/opwchecker.js"></script>