<div class="video-box">
<video autoplay loop poster="movie.jpg" loop autoplay muted playsinline>
 <source src="movie.webm" type="video/webm">
 <source src="https://cdn.shopify.com/s/files/1/0334/2552/2827/files/20200430.mp4?v=1588227931" type="video/mp4">
</video>
<div class="cont">
  <div class="cont-inner2">　今日は<span style="letter-spacing:-20px;">、</span>もっとたのしくできる。</div><div class="cont-inner_sp">　今日は、<br>　もっとたのしくできる。</div>
  </div>
  
</div>
{{ content_for_index }}


